@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

body {
  background-color: lavender;
}

h1 {
  font-family: "Original Surfer", cursive;
  font-size: 75px;
  text-align: center;
  color: brown;
}
